.Header {
  background-image: url(/dist/images/header-bg.png);
  background-size: 100% auto;
  padding: 2.5rem 0;

  .Header-logo {
    img {
      width: 100%;
      height: auto;
    }
  }

  .Header-title {
    font-size: 5.5rem;
    font-weight: bold;
    color: white;
    margin: 8rem 0;
  }

  .Header-social {
    text-align: right;
  }
}
